<%= bootstrap_form_with model: user do |form| %>
	<div class="container">
	<div class >
		<%= form.text_field :first_name %>
	</div>
	<div class >
		<%= form.text_field :last_name %>
	</div>
	<div class >
		<%= form.select :gender, ["Male","female","Other"] %>
	</div>
	<div class >
		<%= form.text_field :contact_no %>
	</div>
	<div class >
		<%= form.text_field :age %>
	</div>
	<div class >
		<%= form.text_field :occupation %>
	</div>
	<div class >
		<%= form.text_field :address %>
	</div>
	<div class >
		<%= form.text_field :city %>
	</div>
	<div class >
		<%= form.number_field :pin_code %>
	</div>
	<div class >
		<%= form.text_field :state %>
	</div>
	<div class >
		<%= form.date_field :dob %>
	</div>
	<div class >
		<%= form.select :marital_status , ["Married", "Single" ] ,selected: "Single"%>
	</div>

	<div>
		<%= form.submit %>
	</div>
	</div>
	<% end %>

